---
layout: default.layout.njk
title: Coming Soon - Halvorson Builders

eleventyNavigation:
    key: Home
    order: 1

---
        <!-- Background Video-->
        <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="assets/mp4/bg.mp4" type="video/mp4" /></video>
        <!-- Masthead-->
        <div class="masthead">
            <div class="masthead-content text-white">
                <div class="container-fluid px-4 px-lg-0">
                    <h1 class="fst-italic lh-1 mb-4">Our Website is Coming Soon</h1>
                    <p class="mb-5">We're working hard to finish the development of this site. Sign up below to receive updates and to be notified when we launch!</p>
                    {% include "_emailform.njk" %}

                </div>
            </div>
        </div>
        <!-- Social Icons-->
        <div class="social-icons">
            <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
                {% for social in socials %}
                <a class="btn btn-dark m-3" href="{{ social.url }}"><i class="{{ social.logo }}"></i></a>
                {% endfor %}
            </div>
        </div>
</div>

